* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-image: url("images/background.jpeg");
    font-family: "Khmer OS Battambang", Arial, sans-serif;
}

body {
    font-family: "Khmer OS Battambang", Arial, sans-serif;
    background-image: url("images/background.jpeg");
    background-size: cover;      /* រូបភាពគ្រប់ទំហំ screen */
    background-position: center; /* បង្ហាញនៅកណ្តាល */
    background-repeat: no-repeat;
}

/* background */
.wrapper {
    min-height: 100vh;
    background: url("images/background.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dark overlay */
.overlay {
    background: rgba(39, 37, 37, 0.55);
    width: 90%;
    max-width: 900px;
    max-height: 90vh;
    padding: 40px 20px;
    color: #f5e6b3;
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
    justify-content: center;
    text-align: center;
}

/* title */
.title {
    font-size: 36px;
    margin-bottom: 20px;
    justify-content: center;
}

/* description */
.desc {
    color: white;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* date & time */
.info {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 40px;
}

.info h3 {
    font-size: 20px;
    color: #f5e6b3;
}

.info-title {
    font-size: 25px;
    margin-bottom: 20px;
}

/* couple section */
.couple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.person {
    text-align: center;
    
}

.photo {
    width: 150px;
    height: 240px;
    border-radius: 50% / 40%;
    overflow: hidden;
    border: 3px solid #f5e6b3;
    margin: auto;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.role {
    margin-top: 10px;
}

.heart {
    font-size: 30px;
    margin:  10px;
    align-self: center;
}

/* text */
.card h1 {
    color: red;
    margin-bottom: 20px;
    font-weight: normal;
}


button {
    background-color: #f5e6b3;
    margin: 20px;
    color: rgb(29, 1, 1);
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: "Khmer OS Battambang", Arial, sans-serif;
}

button:hover {
    background-color: #f5e6b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    font-family: "Khmer OS Battambang", Arial, sans-serif;
}

button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: "Khmer OS Battambang", Arial, sans-serif;
}

/* ============== */
/* ===== Slider ===== */
.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }

    to {
        opacity: 1;
    }
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 12px;
    color: #fff;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    user-select: none;
    transition: all 0.3s;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.6);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.3s;
}

.active,
.dot:hover {
    background-color: #ffd966;
}

/* Responsive */
@media screen and (max-width: 600px) {
    .info {
        gap: 40px;
    }



    .title {
        font-size: 28px;
    }

    .desc {
        font-size: 16px;
    }
}